@media screen and (min-width: 768px) {
  header {
    position: absolute;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-buy-svg {
  margin-left: 14px;
}

@media screen and (max-width: 1199px) {
  .header-nav {
    padding-left: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav__item {
    height: 42px;
  }
}

@media screen and (max-width: 1199px) {
  .header-nav__item {
    border-top: 1px solid #e18298;
  }
  .header-nav__item:last-child {
    border-bottom: 1px solid #e18298;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav__item:not(:last-child) {
    margin-right: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav {
    margin-left: 110px;
  }
}

.header-nav__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .header-nav__link {
    font-size: 16px;
    line-height: 1.31;
  }
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.icon-menu {
  margin: 0px;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .icon-menu-close {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 28px;
  }
}

.menu-container {
  z-index: 2;
}

@media screen and (max-width: 1199px) {
  .menu-container {
    position: relative;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container {
    background-color: #e17992;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 1199px) {
  .menu-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.btn-buy {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 0px;
  border: 0px;
  width: 209px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .btn-buy {
    margin: 0;
  }
}

.btn-buy:hover,
.btn-buy:focus {
  background: #ecebeb;
}

@media screen and (max-width: 767px) {
  .header-button {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .header-button {
    display: none;
  }
}

.btn-buy-tablet {
  margin-left: 30px;
  padding: 0px;
  border: 0px;
  width: 160px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
}

@media screen and (min-width: 1200px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

body {
  background-color: #ffb8ca;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 6px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 767px) {
  .container {
    padding-top: 37px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero {
  padding-top: 137px;
  padding-bottom: 160px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 15px;
    padding-bottom: 173px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 84px;
    padding-bottom: 357px;
  }
}

.overlay {
  background-image: url(../images/ice.png), url(../images/ellipse.png);
  background-position: bottom right 32px, right top 27px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../images/tasty-tablet.png), url(../images/ice-tablet.png), url(../images/ellipse-tablet.png), url(../images/milk-tablet.png), url(../images/16-tablet.png), url(../images/23-tablet.png);
    background-position: bottom 0px right 34px,  bottom right 247px,  top 31px right 137px,  top 143px left 15px,  right 15px top 94px,  right 15px top 151px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    background-image: url(../images/tasty-desctop.png), url(../images/ice-desctop.png), url(../images/ellipse-desctop.png), url(../images/milk-desctop.png), url(../images/16-desctop.png), url(../images/23-desctop.png);
    background-position: bottom right 109px,  bottom right 450px,  bottom 75px right 267px,  bottom 45px left 77px;
  }
}

.hero-title {
  margin: 0px;
  margin-bottom: 19px;
  width: 218px;
  height: 106px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-bottom: 20px;
    width: 162px;
    height: 80px;
    font-size: 22px;
    line-height: 1.13;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 277px;
    height: 137px;
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero-title-text {
  width: 218px;
  height: 106px;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 0.965;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .hero-title-text {
    width: 162px;
    height: 80px;
    font-size: 34px;
    line-height: 90.5%;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title-text {
    width: 277px;
    height: 137px;
    font-size: 58px;
  }
}

.hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .hero__item {
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__item {
    margin-bottom: 112px;
  }
}

.hero__list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .hero__list:not(:last-child) {
    margin-right: 15px;
  }
}

.hero-button {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
  width: 62,4px;
  height: 24px;
  background: #D41443;
  border-radius: 20px;
  border: 0px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .hero-button {
    width: 104px;
    height: 40px;
  }
}

.hero-button:hover,
.hero-button:focus {
  background: #C7133E;
}

.hero-button-second {
  width: 82,8px;
  height: 24px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  text-align: center;
  color: #D41443;
  background: #FFFFFF;
  border: 0px;
  border-radius: 20px;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .hero-button-second {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero-button-second:hover,
.hero-button-second:focus {
  background: #ECEBEB;
}

.hero__text {
  margin: 0px;
  margin-left: 139px;
  width: 114px;
  height: 48px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .hero__text {
    margin-left: 280px;
    width: 200px;
    height: 78px;
    font-size: 14px;
    line-height: 1.4;
  }
}

@media screen and (max-width: 767px) {
  .hero__text {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */