

.header__container {
  display: flex;
  align-items: center;
}

.menu-toggle {
  display: flex;  
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn-buy-svg {
  margin-left: 14px;
}

.header-nav__item {
  height: 42px;
  padding-left: 21px;
}

.header-nav__item:nth-child(2n + 1) {
  border: 1px solid #e18298;
}

.header-nav__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;

  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.icon-menu {
  margin: 0px;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .icon-menu-close {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-right: 28px;
  }
}

.menu-container {
  z-index: 2;
}

@media screen and (max-width: 1199px) {
  .menu-container {
    position: relative;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container {
    background-color: #e17992;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 250ms;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

@media screen and (min-width: 1200px) {
  .menu-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.btn-buy {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 0px;
  border: 0px;

  width: 209px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
}

.header-button {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.btn-buy-tablet {
  margin-left: 30px;
  padding: 0px;
  border: 0px;

  width: 160px;
  height: 44px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;

  color: #d41443;
  background: #ffffff;
  border-radius: 22px;
}